<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name="prod">
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
      <labels>
        app=motung-backend
        env=prod
        host=${HOSTNAME:-unknown}
      </labels>
      <message>
        <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
      </message>
      <http>
        <url>http://loki-stack.monitoring.svc.cluster.local:3100/loki/api/v1/push</url>
      </http>
    </appender>
    <root level="INFO">
      <appender-ref ref="LOKI" />
    </root>
  </springProfile>

  <springProfile name="dev">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>
</configuration>